name: abs_flutter
description: "A ABS app"

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.3.1

environment:
  sdk: '>=3.4.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6
  flutter_platform_widgets: ^7.0.1
  openapi_generator_annotations: ^5.0.2
  dio: ^5.5.0+1
  intl: ^0.19.0
  go_router: ^12.1.3 # 13.x and up not working due to https://github.com/flutter/flutter/issues/140586
  quickalert: ^1.1.0
  flutter_riverpod: ^2.5.1
  riverpod_annotation: ^2.3.5
  abs_api:
    path: ./api/abs_api
  freezed_annotation: ^2.4.4
  json_annotation: ^4.9.0
  shared_preferences: ^2.2.3
  flutter_secure_storage: ^9.2.2
  shimmer: ^3.0.0
  cached_network_image: ^3.3.1
  flutter_staggered_grid_view: ^0.7.0
  connectivity_plus: ^6.0.3
  just_audio: ^0.9.39
  audio_service: ^0.18.15
  package_info_plus: ^8.0.1
  just_audio_windows: ^0.2.1
  audio_service_mpris: ^0.1.5
  just_audio_media_kit: ^2.0.4
  flutter_settings_screens: ^0.3.4
  device_info_plus: ^10.1.1
  window_manager: ^0.3.9
  fl_chart: ^0.68.0
  background_downloader: ^8.5.2
  permission_handler: ^11.3.1 # Nuget not found
  path: ^1.9.0
  hooks_riverpod: ^2.5.1
  sensors_plus: ^6.0.1
  vibration: ^1.9.0
  url_launcher: ^6.3.0

  flutter_hooks: any
  uuid: any
  collection: any
  built_collection: any

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0
  openapi_generator: ^5.0.2
  build_runner: ^2.4.11
  freezed: ^2.5.2
  json_serializable: ^6.8.0
  riverpod_generator: ^2.4.2
  riverpod_lint: ^2.3.12
  analyzer: ^6.5.0
  msix: ^3.16.7
  flutter_launcher_icons: ^0.13.1

dependency_overrides:
  meta: ^1.14.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/

flutter_intl:
  enabled: true
  use-escaping: true

msix_config:
  display_name: Audiobookshelf Flutter
  publisher_display_name: Vito0912
  identity_name: vito0912.audiobookshelf.flutter
  msix_version: 1.1.0.0
  capabilities: internetClient
  languages: en-us

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/images/logo/logo_blue_big_abs.png"
  min_sdk_android: 21
  remove_alpha_ios: true
  adaptive_icon_background: "#2a5bb8"
  adaptive_icon_foreground: "assets/images/logo/logo_abs.png"
  web:
    generate: true
    image_path: "assets/images/logo/logo_big_black_abs.png"
    background_color: "#2a5bb8"
  windows:
    generate: true
    image_path: "assets/images/logo/logo_blue_big_abs.png"
    icon_size: 256
  macos:
    generate: true
    image_path: "assets/images/logo/logo_blue_big_abs.png"