name: abs_flutter
description: "A ABS app"

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: '>=3.4.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6
  flutter_platform_widgets: ^7.0.1
  openapi_generator_annotations: ^5.0.2
  dio: ^5.5.0+1
  intl: ^0.19.0
  go_router: ^14.2.1
  quickalert: ^1.1.0
  flutter_riverpod: ^2.5.1
  riverpod_annotation: ^2.3.5
  abs_api:
    path: ./api/abs_api
  freezed_annotation: ^2.4.4
  json_annotation: ^4.9.0
  shared_preferences: ^2.2.3
  flutter_secure_storage: ^9.2.2
  shimmer: ^3.0.0
  cached_network_image: ^3.3.1
  flutter_staggered_grid_view: ^0.7.0
  connectivity_plus: ^6.0.3
  just_audio: ^0.9.39
  audio_service: ^0.18.15
  package_info_plus: ^8.0.1
  just_audio_windows: ^0.2.1
  audio_service_mpris: ^0.1.5
  just_audio_media_kit: ^2.0.4
  flutter_settings_screens: ^0.3.4
  device_info_plus: ^10.1.1
  window_manager: ^0.3.9
  fl_chart: ^0.68.0
  background_downloader: ^8.5.2
  permission_handler: ^11.3.1 # Nuget not found
  path: ^1.9.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0
  openapi_generator: ^5.0.2
  build_runner: ^2.4.11
  freezed: ^2.5.2
  json_serializable: ^6.8.0
  riverpod_generator: ^2.4.2
  riverpod_lint: ^2.3.12
  analyzer: ^6.5.0

dependency_overrides:
  meta: ^1.14.0
flutter:

  uses-material-design: true

flutter_intl:
  enabled: true
  use-escaping: true
