[Desktop Entry]
Name=Buchable
Comment=The unofficial cross-platform app for Audiobookshelf, available on Android, iOS, Windows, and Linux.
Exec=buchable
Icon=${SNAP}/meta/gui/app_icon.png
Terminal=false
Type=Application
Categories=Entertainment;
Keywords=Flutter;
StartupNotify=false
