name: Flutter Build

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'
  workflow_dispatch:

env:
  KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
  STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
  KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
  STORE_FILE: '../keystore.jks'

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y wget curl xz-utils git>=2.0 bash unzip bash zip

      - name: Install Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Install jq
        run: |
          wget -O jq https://github.com/jqlang/jq/releases/download/jq-1.7.1/jq-linux-amd64
          chmod +x ./jq
          mv jq /usr/local/bin

      - name: Install Android SDK Command Line Tools
        run: |
          wget https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip -O commandlinetools.zip
          mkdir -p $HOME/android-sdk/cmdline-tools/latest
          unzip commandlinetools.zip -d $HOME/android-sdk/cmdline-tools/latest
          mv $HOME/android-sdk/cmdline-tools/latest/cmdline-tools/* $HOME/android-sdk/cmdline-tools/latest/
          export ANDROID_HOME=$HOME/android-sdk
          echo "ANDROID_HOME=$ANDROID_HOME" >> $GITHUB_ENV
          export PATH=$ANDROID_HOME/cmdline-tools/latest/bin:$PATH
          echo "PATH=$PATH" >> $GITHUB_ENV

      - name: Accept Android SDK Licenses
        run: |
          yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --licenses || true

      - name: Install Android SDK Packages
        run: |
          yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager "platform-tools" "platforms;android-33" "build-tools;33.0.2" || true

      - name: Add exception
        run: git config --global --add safe.directory /opt/hostedtoolcache/flutter/*

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.22.3

      - name: Install Flutter dependencies
        run: flutter pub get

      - name: Build Flutter web
        run: flutter build web --release

      - name: Zip the web directory
        run: |
          zip -r web-release.zip build/web/

      - name: Change base href for GitHub Pages
        run: |
          sed -i 's|<base href="/">|<base href="/abs_flutter/">|' build/web/index.html

      - name: upload page artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: build/web

      - name: Setup Keystore
        run: echo "${{ secrets.STORE }}" | base64 -d > android/keystore.jks

      - name: Build APK
        run: flutter build apk --release

      - name: Build AppBundle
        run: flutter build appbundle --release

      - name: Move APK and AAB files
        run: |
          mv build/app/outputs/flutter-apk/app-release.apk app-release.apk
          mv build/app/outputs/bundle/release/app-release.aab app-release.aab

      - name: Upload APK, AAB, and Web Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ubuntu-build-artifacts
          path: |
            app-release.apk
            app-release.aab
            web-release.zip

      - name: Clean up
        if: always()
        run: |
          sudo rm -rf build
          sudo rm -rf android/keystore.jks

  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.22.3

      - name: Extract version from pubspec.yaml
        id: extract_version
        shell: pwsh
        run: |
          $versionLine = Get-Content pubspec.yaml | Select-String -Pattern '^version:'
          $version = $versionLine -replace 'version: ', '' -replace '\+.*', ''
          echo "VERSION=$version" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

      - name: Install Flutter dependencies
        run: flutter pub get

      - name: Build Flutter Windows
        run: flutter build windows --release

      - name: Zip the Release folder
        run: |
          Compress-Archive -Path "build/windows/x64/runner/Release" -DestinationPath "windows-Release-${{ env.VERSION }}.zip"

      - name: Create MSIX package
        run: dart run msix:create

      - name: Move MSIX file
        run: |
          $sourcePath = "build/windows/x64/runner/Release/abs_flutter.msix"
          $destinationPath = "windows-installer-release-${{ env.VERSION }}.msix"
          Move-Item -Path $sourcePath -Destination $destinationPath
        shell: pwsh

      - name: Create MSIX package (Store)
        run: dart run msix:create --store

      - name: Move MSIX file
        run: |
          $sourcePath = "build/windows/x64/runner/Release/abs_flutter.msix"
          $destinationPath = "windows-installer-release-${{ env.VERSION }}-store.msix"
          Move-Item -Path $sourcePath -Destination $destinationPath
        shell: pwsh

      - name: Upload Windows Build and MSIX Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-build-artifacts
          path: |
            windows-Release-${{ env.VERSION }}.zip
            windows-installer-release-${{ env.VERSION }}.msix
            windows-installer-release-${{ env.VERSION }}-store.msix

  build-linux:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.22.3

      - name: Install Flutter dependencies
        run: flutter pub get

      - name: Install linux dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y curl git unzip xz-utils zip libglu1-mesa
          sudo apt-get install -y libayatana-appindicator3-dev 
          sudo apt-get install -y libmpv-dev mpv 
          sudo apt-get install -y clang cmake git ninja-build pkg-config libgtk-3-dev liblzma-dev libstdc++-12-dev

      - name: Build Flutter linux
        run: flutter build linux --release

      - name: Zip the linux build directory
        run: |
          cd build/linux/x64/release/bundle
          zip -r linux-release.zip .
          mv linux-release.zip ../../../../../
          cd ../../../../../

      - name: Extract version from pubspec.yaml
        id: extract_version
        run: |
          VERSION=$(grep '^version:' pubspec.yaml | sed 's/version: //;s/+.*//')
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Replace VERSION in snapcraft.yaml
        run: |
          sed -i "s/VERSION/${{ env.VERSION }}/g" snap/snapcraft.yaml

      - uses: snapcore/action-build@v1
        id: build

      - name: Rename the snap
        run: |
          mv buchable_${{ env.VERSION }}_amd64.snap linux-release.snap

      - name: Upload Linux build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-build-artifacts
          path: |
            linux-release.zip
            linux-release.snap

  create-release:
    runs-on: ubuntu-latest
    needs: [build-ubuntu, build-windows, build-linux]
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download Ubuntu Artifacts
        uses: actions/download-artifact@v4
        with:
          name: ubuntu-build-artifacts
          path: ./linux-artifacts

      - name: Download Windows Artifacts
        uses: actions/download-artifact@v4
        with:
          name: windows-build-artifacts
          path: ./windows-artifacts

      - name: Download Linux Artifacts
        uses: actions/download-artifact@v4
        with:
          name: linux-build-artifacts

      - name: Extract version from pubspec.yaml
        id: extract_version
        run: |
          VERSION=$(grep '^version:' pubspec.yaml | sed 's/version: //;s/+.*//')
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Rename
        run: | 
          mv linux-artifacts/app-release.apk linux-artifacts/android-release-${{ env.VERSION }}.apk
          mv linux-artifacts/app-release.aab linux-artifacts/android-release-${{ env.VERSION }}.aab
          mv linux-artifacts/web-release.zip linux-artifacts/web-release-${{ env.VERSION }}.zip
          mv linux-build-artifacts/linux-release.zip linux-build-artifacts/linux-release-${{ env.VERSION }}.zip
          mv linux-build-artifacts/linux-release.snap linux-build-artifacts/linux-release-${{ env.VERSION }}.snap

      - name: Create GitHub Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env.VERSION }}
          name: Release v${{ env.VERSION }}
          draft: false
          generate_release_notes: true
          prerelease: true
          files: |
            linux-artifacts/android-release-${{ env.VERSION }}.apk
            linux-artifacts/android-release-${{ env.VERSION }}.aab
            linux-artifacts/web-release-${{ env.VERSION }}.zip
            windows-artifacts/windows-Release-${{ env.VERSION }}.zip
            windows-artifacts/windows-installer-release-${{ env.VERSION }}.msix
            linux-build-artifacts/linux-release-${{ env.VERSION }}.zip
            linux-build-artifacts/linux-release-${{ env.VERSION }}.snap

  deploy:
    runs-on: ubuntu-latest
    needs: build-ubuntu
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
